$feature-colour: #84D6A6;
$form-background: #ADF6C9;

$header-shadow-colour: lightgrey;
$main-background-colour: white;
$twist-colour-0:#FAF36E;
$twist-colour-1:#ed9D0b;
$twist-colour-2:#f68a06;
$twist-colour-3:#f4730b;
$twist-colour-4:#f96209;
$twist-colour-5:#f94001;

// $header-shadow-colour: #f3dd42;
// $main-background-colour: #FAF36E;
// $twist-colour-0:         #ed9D0b;
// $twist-colour-1:         #f68a06;
// $twist-colour-2:         #f4730b;
// $twist-colour-3:         #f96209;
// $twist-colour-4:         #f94001;

//SCHEME 1
// $header-shadow-colour: #f3dd42;
// $main-background-colour: #FAF36E;
// $twist-colour-0: #ffc526;
// $twist-colour-1: #f18b25;
// $twist-colour-2: #ff3864;
// $twist-colour-3: #c96480;
// $twist-colour-4: #05313d;



$header-font-family: 'Source Sans Pro';
$header-height: 200px;

body {
  display: flex;
  flex-direction:column;
  align-items: center;
  min-height: 100vh;
  background-color: $main-background-colour;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  margin-top: $header-height;
}

h2 {
  line-height: 1.2;
}

//////////////
// HEADER   //
//////////////

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: white;
  box-shadow: 0px 3px 20px $header-shadow-colour;
}

.header__container {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1265px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.box {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.box:first-child > img {
  margin-right: auto;
  height: 150px;
}
.box:last-child > .user_object {
  margin-left: auto;
}

#middle-header-box {
  display: flex;
  justify-content: center;
}

.new_story_form_button {
  font-family: $header-font-family;
  border-radius: 50px;
  background: $feature-colour;
  color: white;
  border: none;
  width: 150px;
  height: 80px;
  margin-top: 10px;
  font-size: 2em;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:hover {
        background-color: $main-background-colour;
        color: #222;
      }
}

.user_object {
  display:flex;
  justify-content: flex-end;
}

#user_object__box {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#username {
  color: red;
  font-size: 1.5em;
  margin: 0 0;
  font-family: $header-font-family;
}

.logout_button, .login_button {
  font-family: $header-font-family;
  border-radius: 50px;
  background: darkgray;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-size: 1.5em;
}


//////////////
// MAIN     //
//////////////

main {
  max-width: 1265px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

//////////////////////////////////
// ALL STORIES AND STORY CARD   //
//////////////////////////////////

.stories {
  padding: 2.5rem 0;
  margin-left: -2rem;
  display: flex;
  flex-wrap: wrap;
  .story {
    margin-bottom: 2.5rem;
  }
}
.story {
  flex: 0 0 calc(50% - 2rem);
  font-size: 1rem;
  margin-left: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  border: thin solid #eee;
  border-radius: .3rem;

  .story__header {
    font-family: $header-font-family;
    display: flex;
    margin: 0 0 1rem;
    height: 2.25rem;
    > * {
      padding-left: 1rem;
      &:first-child {
        padding-left: 0;
      }
    }
    .story__usericon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .story__username {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .story__date {
      color: rgb(120, 124, 126);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .story__complete_button {
      margin-left: auto;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50px;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:hover {
        background-color: $feature-colour;
        color: white;
      }
    }

    .story__completed {
      margin-left: auto;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .story__title {
    font-family: $header-font-family;
    margin: 0 0 1rem;
    font-size: 2.5rem;
  }
  .story__bodytext {
    margin: 0 0 2rem;
  }
}

//////////////////////////////////
// SINGLE STORY                 //
//////////////////////////////////

.single_story {
  padding: 2.5rem 0;
  width: 1201px;
  // background-color: #edeff1;
  .story {
    // max-width: 1052px;
    font-size: 1.5rem;
    // margin-bottom: 2.5rem;
    margin-left: 0;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: .3rem;
    .story__bodytext {
      margin: 0;
    }
  }
  .new_twist {
    // max-width: 1052px;
    font-size: 1.5rem;
    margin: 2.5rem 0;
  }
  .new_twist__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .new_twist__text_container {
    background: $feature-colour;
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: .3rem;
    width: 100%;

    textarea {
      background: $form-background;
      outline: none;
      border: none;
      resize: none;
      width: 100%;
    }

  }
  hr {
    // max-width: 1052px;
    margin: 2.5rem 0;
  }
  .twist {
    // max-width: 1052px;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    padding: 2rem;
    // background-color: white;
    border-radius: .3rem;



    .twist__header {
      font-family: $header-font-family;
      display: flex;
      align-items: center;
      margin: 0 0 1.5rem;
      height: 2.25rem;
      > * {
        padding-left: 1rem;
        &:first-child {
          padding-left: 0;
        }
      }
    }
    .twist__usericon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .twist__username {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .twist__date {
      color: rgb(120, 124, 126);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    p.unaccepted_twist__bodytext {
      margin: 0 0 1.5rem;
    }
    .unaccepted_twist__footer {
      font-family: $header-font-family;
      display: flex;
      justify-content: start;
      // margin: 0 0 2rem;
      height: 2.25rem;
      // > * {
      //   margin-left: 1.5rem;
      //   &:first-child {
      //     margin-left: 0;
      //   }
      }
      // .votes {
      //   .unaccepted_twist__vote_icon {
      //     margin-right: 10px;
      //   }
      //   display: flex;
      // }
      .unaccepted_twist__vote_icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover {
          color: $feature-colour;
        }
      }
      .unaccepted_twist__vote_count {
        margin-left: 1.5rem;
        text-align: center;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .unaccepted_twist__show_form_button {
        font-family: $header-font-family;
        padding: .5rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover {
          background-color: $feature-colour;
          color: white;
        }
      }
      .unaccepted_twist__accept_button {
        font-family: $header-font-family;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover {
          background-color: $feature-colour;
          color: white;
        }
    }

  }
}
.twist {
  color: white;
  background: $twist-colour-4;
}
.twist.depth--0 {
  color: black;
  background: $twist-colour-0;
}
.twist.depth--1 {
  color: black;
  background: $twist-colour-1;
}
.twist.depth--2 {
  color: black;
  background: $twist-colour-2;
}
.twist.depth--3 {
  color: white;
  background: $twist-colour-3;
}
.twist.depth--4 {
  color: white;
  background: $twist-colour-4;
}


.unaccepted_twist__form {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1.5rem;


  textarea {
    resize: none;
    outline: none;
    width: 100%;
    padding: 20px;
    background-color: $form-background;
  }

  #twist_on_twist_button_container {
    display: flex;
    justify-content: flex-end;
  }

  button {
    font-family: $header-font-family;
    border-radius: 50px;
    background: darkgray;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    // font-size: 1.5em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
      background-color: $feature-colour;
      color: white;
    }
  }
}

//////////////
// TWISTS   //
//////////////




.new_twist__submit_button {
  font-family: $header-font-family;
  border-radius: 50px;
  background: darkgray;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 1.5rem;
  // font-size: 1.5em;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:hover {
        background-color: $feature-colour;
        color: white;
      }
}

// <form class="new_story__form" action="/api/stories" method="post" >
// <input class="new_story__title" type="text" name="title" placeholder="Title">
// <textarea class="new_story__bodytext" name="bodytext" placeholder="Text" cols="30" rows="10"></textarea>
// <button class="new_story__submit_button type="submit">Create</button>
// </form>

// FORM:
.new_story__form {
  font-size: 1.5rem;
}

.new_story__title {
  width: 100%;
  padding: 1rem;
  margin: 2.5rem 0 1.5rem 0;
  border-radius: .3rem;
}
// TEXTAREA
.new_story__bodytext {
  resize: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-radius: .3rem;

  // background-color: #ADF6C9;
}

.new_story__submit_button {
  display: block;
  margin-left: auto;
  font-family: $header-font-family;
  border-radius: 50px;
  background: darkgray;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  // font-size: 1.5em;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:hover {
        background-color: $feature-colour;
        color: white;
      }
}

.new_story_form_button {
  font-family: $header-font-family;
  width: 250px;

}
