$main-background-colour: #FAF36E;
$feature-colour: #84D6A6;

body {
  display: flex;
  flex-direction:column;
  align-items: center;
  min-height: 100vh;
  background-color: $main-background-colour;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
}

//////////////
// HEADER   //
//////////////

header {
  width: 100%;
  background: white;
}

.header__container {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1265px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.box {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.box:first-child > img {
  margin-right: auto;
  height: 150px;
}
.box:last-child > .user_object {
  margin-left: auto;
}

#middle-header-box {
  display: flex;
  justify-content: center;
}

.new_story_form_button {
  border-radius: 50px;
  background: $feature-colour;
  color: white;
  border: none;
  width: 150px;
  height: 80px;
  margin-top: 10px;
  font-size: 2em;
}

.user_object {
  display:flex;
  justify-content: flex-end;
}

#user_object__box {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#username {
  color: red;
  font-size: 1.5em;
  margin: 0 0;
}

.logout_button {
  border-radius: 50px;
  background: darkgray;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-size: 1.5em;
}


//////////////
// MAIN     //
//////////////

main {
  max-width: 1265px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

//////////////////////////////////
// ALL STORIES AND STORY CARD   //
//////////////////////////////////

.stories {
  padding: 2.5rem 0;
  margin-left: -2rem;
  display: flex;
  flex-wrap: wrap;
}
.story {
  flex: 0 0 calc(50% - 2rem);
  margin-left: 2rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: .3rem;

  .story__header {
    display: flex;
    margin: 0 0 1rem;
    height: 2.25rem;
    > * {
      padding-left: 1rem;
      &:first-child {
        padding-left: 0;
      }
    }
    .story__usericon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .story__username {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .story__date {
      color: rgb(120, 124, 126);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .story__complete_button {
      margin-left: auto;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: .3rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:hover {
        background-color: $feature-colour;
        color: white;
      }
    }

    .story__completed {
      margin-left: auto;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .story__title {
    margin: 0 0 1rem;
    font-size: 1.75rem;
  }
  .story__bodytext {
    margin: 0 0 2rem;
  }
}

//////////////////////////////////
// SINGLE STORY                 //
//////////////////////////////////

.single_story {
  padding: 2.5rem 0;
  max-width: 1052px;
  .story {
    margin-bottom: 2.5rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: .3rem;
    .story__bodytext {
      margin: 0;
    }
  }
  .new_twist {
    flex: 0 0 calc(50% - 2rem);
    margin-left: 2rem;
    margin-bottom: 2.5rem;
  }
  .new_twist__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .new_twist__text_container {
    background: $feature-colour;
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: .3rem;
    width: 100%;

    textarea {
      outline: none;
      border: none;
      resize: none;
      width: 100%;
      opacity: 0.5;
    }

  }
  hr {
    margin: 2.5rem 0 2.5rem 2rem;
  }
  .twist {
    flex: 0 0 calc(50% - 2rem);
    margin-left: 2rem;
    margin-bottom: 2.5rem;
    padding: 2rem;
    background-color: white;
    border-radius: .3rem;

    .twist__header {
      display: flex;
      align-items: center;
      margin: 0 0 1rem;
      height: 2.25rem;
      > * {
        padding-left: 1rem;
        &:first-child {
          padding-left: 0;
        }
      }
    }
    .twist__usericon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .twist__username {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .twist__date {
      color: rgb(120, 124, 126);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    p.unaccepted_twist__bodytext {
      margin: 0 0 1rem;
    }
    .unaccepted_twist__footer {
      display: flex;
      justify-content: start;
      // margin: 0 0 2rem;
      height: 2.25rem;
      // > * {
      //   margin-left: 1.5rem;
      //   &:first-child {
      //     margin-left: 0;
      //   }
      }
      // .votes {
      //   .unaccepted_twist__vote_icon {
      //     margin-right: 10px;
      //   }
      //   display: flex;
      // }
      .unaccepted_twist__vote_icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover {
          color: $feature-colour;
        }
      }
      .unaccepted_twist__vote_count {
        margin-left: 1.5rem;
        text-align: center;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .unaccepted_twist__show_form_button {
        padding: .5rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: .3rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover {
          background-color: $feature-colour;
          color: white;
        }
      }
      .unaccepted_twist__accept_button {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: .3rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover {
          background-color: $feature-colour;
          color: white;
        }
    }

    .unaccepted_twist__form {
      display: none;
    }
  }
}
//////////////
// TWISTS   //
//////////////




.new_twist__submit_button {
  border-radius: 50px;
  background: darkgray;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-size: 1.5em;
}

.new_story_form_button {
  width: 250px;
}



